<div class="app__form__control">
  <%= form.label :can_show %>
  <%= form.check_box :can_show, class: 'app__form__checkbox' %>
</div>
<div class="app__form__control">
  <%= form.label :can_edit %>
  <%= form.check_box :can_edit, class: 'app__form__checkbox' %>
</div>
<div class="app__form__control">
  <%= form.label :can_destroy %>
  <%= form.check_box :can_destroy, class: 'app__form__checkbox' %>
</div>
