<h1><%= Transaction.model_name.human({count: 2}) %></h1>

<nav>
  <ul>
    <li><%= link_to t("new_model", model: Transaction.model_name.human), new_transaction_path %></li>
    <li><%= link_to TransactionPromise.model_name.human({count: 2}), transaction_promises_path %></li>
  </ul>
</nav>

<ul>
  <% @transactions.group_by {|t| t.datetime.to_date }.each_entry do |transaction_by_date| %>
  <li>
    <span><%= t('date.name') %>: <%= transaction_by_date[0].strftime(t('date.formats.default')) %></span>
    <ul>
      <% transaction_by_date[1].each do |transaction| %>
        <li>
          <%= link_to "#{transaction.name} - #{number_to_currency(transaction.amount / 100, unit: 'R$', separator: ',', delimiter: '.')}", transaction %>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>
