<!DOCTYPE html>
<html>
  <head>
    <title>Glayson</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header class="app__header">
    <% if current_user %>
      <div><%= t('logged_as', username: current_user.username) %></div>
    <% end %>
      <nav class="app__header__nav">
        <ul class="app__header__list">
          <li class="app__header__list__item">
            <%= link_to Transaction.model_name.human({count: 2}), transactions_path, class: 'app__header__link' %>
          </li>
          <li class="app__header__list__item">
            <%= link_to Task.model_name.human({count: 2}), tasks_path, class: 'app__header__link' %>
          </li>
          <li class="app__header__list__item">
            <%= link_to Note.model_name.human({count: 2}), notes_path, class: 'app__header__link' %>
          </li>
        </ul>
      </nav>
    </header>

    <main class="app__main">
      <%= yield %>
    </main>
  </body>
</html>
