<!DOCTYPE html>
<html>
  <head>
    <title>Glayson</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to 'transactions', transactions_path %></li>
          <li><%= link_to 'tasks', tasks_path %></li>
          <li><%= link_to 'notes', notes_path %></li>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
